@model Sis_RosangelaCunha.Models.AvaliacaoContrato

@{
    ViewBag.Title = "Novo";
}
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h2>Novo</h2>
        <hr />
        <div class="=form-group">
            @Html.LabelFor(model => model.Comentarios, new { @clas = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comentarios, new { rows=3, @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Contato, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Contato, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Features, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Features, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Treinamento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Treinamento, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.T, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Treinamento, new { @class = "form-control" })
            </div>
        </div>
        <input type="submit" value="Salvar" class="btn btn-sm btn-success">
    </div>

}

